body {
    background-image: url("green.avif");
    background-size: cover%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-weight: bold;
    text-align: center;
    color: #3E5F44;
}

}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 175px;
    margin-bottom: 5px;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2PX;

}

#increment-btn {
    background: #5E936C;
}

#save-btn {
    background: #5E936C;
}

.main{
    margin: 0 auto;
    width: 350px;
    height: 360px;
    border: 5px solid #2F5249;
    border-radius: 10px;
    background: linear-gradient(#6d7f8b, #c2b49b, #8a7360); 
}
